body{
    height: 100%;
}
.container{
    background-image: linear-gradient(#ffffffd3,#ffffffd3),url();
    height: 100%;
    width: 60%;
    position: relative;
    left: 15%;
    
    background-size: cover;
    
}
.container1{
    background-image: linear-gradient(#6767da,#862b86);
    border: 1px solid #ccc;
    position: relative;
    display: inline-block;
    height: 40vw;
    width: 58%;       
    left:33%;
    top: 5vw;    
    border-radius: 0px;
}

.logo{
    height: 70px;
    width: 70px;
    border: 1px solid #ccc;
    border-radius: 50px;
    position: relative;
    left: 37%;
    top:10%;
    padding: 5px;
    background-color: #fff;
}

.img{
    height: 40px;
    width:70px;
    position: relative;
    left:2%;
    top: 23%;
}

.placeholder1{
    margin-left: 23px;
    margin-right: 30px;
    padding-right: 100px;
    padding-bottom: 10px;
   border: none;
    background-color: inherit;
    border-bottom: 2px solid #ccc;
    
}

.placeholder1::placeholder{  
    color:#ccc;
    opacity: 1;
}
.username{
    margin-top: 40px;
}
.password{
    border-bottom: rgba(100, 101, 101, 0)
}


.txt{
    position: relative;
    left:43%;
    top:4vw;
    font-size: 10px;
    font-family: sans-serif;
    color: #cccccc;
}

.checkbox{
    margin-bottom: 10%;
    margin-left: 6%;
    font-size: 10px;
    color:rgb(204, 204, 204);
    font-family: sans-serif;
    padding-top:60px;

}

.button{
    margin-top: 20px;
    padding: 10px;
    width: 90px;
    position: relative;
    left: 40%;
    border-radius: 36px;
    color: #646161;
    font-size: 11px;
}
.login{
    position: relative;
    text-align: center;
    top: 10%;
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
}
.main{
    position: relative;
    top: 30px;
    
}